# eclipse
eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vs code
.vscode

# gradle
build
.gradle

# other
bin
run
*.jar

# Files from Forge MDK
forge*changelog.txt
